<div class='row'>
	<div class='large-12 columns'>
		<h2 id="title" class=''>Welcome to Ember-CLI Todos App</h2>
		<nav>
			<ul>
				<li>{{#link-to 'todos'}}工作清单 Todos{{/link-to}}</li>
				<li>{{#link-to 'archived'}}存档清单 Todos{{/link-to}}</li>
			</ul>
		</nav>
	</div>
</div>

<div class='row'>
	<div class='large-12 columns'>
		{{outlet}}
	</div>
</div>