ul {
	list-style-type: disc;
	list-style: none;

	li {
		/*display: inline-block;*/

		&.is-done {
			color: gray;
			text-decoration: line-through;
		}

		/* button */
		.button {
			margin-bottom: 0;
		}
	}
};

li.item {
	cursor: pointer;
	padding: 5px;
	border: solid 1px;
	margin-top: 1px;
}


nav ul li {
	display: inline;

	a.active {
		color: blue;
	}
}

